@model SysVYC.Models.EMPLEADO

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de Eliminar el Empleado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2">Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREEMPLEADO)
        </dd>

        <dt>
            <label class="control-label col-md-2">Apellido</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOEMPLEADO)
        </dd>

        <dt>
            <label class="control-label col-md-2">DUI</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUIEMPLEADO)
        </dd>

        <dt>
            <label class="control-label col-md-2">NIT</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NITEMPLEADO)
        </dd>

        <dt>
            <label class="control-label col-md-2">Dirección</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCIONEMPLEADO)
        </dd>

        <dt>
            <label class="control-label col-md-2">Teléfono</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONOEMPLEADO)
        </dd>

        <dt>
            <label class="control-label col-md-2">Correo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAILEMPLEADO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Regresar a la Lista", "Index", "", new { @class = "btn btn-primary" })
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        </div>
    }
</div>
