@model IEnumerable<SysVYC.Models.EMPLEADO>

@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Empleados</h2>

<p>
    @Html.ActionLink("Nuevo Empleado", "Create", "", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            DUI
        </th>
        <th>
            NIT
        </th>
        <th>
            Dirección
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Correo
        </th>
        <th style="width:270px;"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBREEMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDOEMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DUIEMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NITEMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIRECCIONEMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONOEMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAILEMPLEADO)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.IDEMPLEADO }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Detalles", "Details", new { id = item.IDEMPLEADO }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IDEMPLEADO }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
