@model SysVYC.Models.CLIENTE

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de Eliminar el Empleado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRECLIENTE)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOCLIENTE)
        </dd>

        <dt>
            DUI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUICLIENTE)
        </dd>

        <dt>
            NIT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NITCLIENTE)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCIONCLIENTE)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONOCLIENTE)
        </dd>

        <dt>
            Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAILCLIENTE)
        </dd>

        <dt>
            Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPRESA.NOMBREEMPRESA)
        </dd>

        <dt>
            Tipo de Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOCLIENTE.TIPOCLIENTE1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Regresar a la Lista", "Index", "", new { @class = "btn btn-primary" })
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
