@model SysVYC.Models.PRODUCTO

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de Eliminar este Producto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREPRODUCTO)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONPRODUCTO)
        </dd>

        <dt>
            Marca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA.NOMBREMARCA)
        </dd>

        <dt>
            Modelo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODELOPRODUCTO)
        </dd>

        <dt>
            Costo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COSTOPRODUCTO)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIOPRODUCTO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Regresar a la Lista", "Index", "", new { @class = "btn btn-primary" })
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
