@model IEnumerable<SysVYC.Models.PRODUCTO>

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Nuevo Producto", "Create", "", new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Producto
        </th>
        <th>
            Descripción
        </th>
        <th>
            Marca
        </th>
        <th>
            Modelo
        </th>
        <th>
            Costo
        </th>
        <th>
            Precio
        </th>

        <th style="width:270px;"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBREPRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCIONPRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARCA.NOMBREMARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODELOPRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COSTOPRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIOPRODUCTO)
        </td>
        
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.IDPRODUCTO }, new { @class="btn btn-primary"})
            @Html.ActionLink("Detalles", "Details", new { id = item.IDPRODUCTO }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IDPRODUCTO }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
